:root {
	--color-primary: #818cf8;
	--bg-dark: #111828;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dirrtl #calendar-overlay .action_date{
	transform: rotate(180deg);
}

.overlay.hidden:target{
	display: flex;
}

.overlay{
	z-index: 10000;
}

.overlay.topz{
	z-index: 9;
}

.logo-img{
	/* width: 200px; */
	height: 65px;
}

.txt-align-unset{
	text-align: unset;
}

nav .nav-item{
	position: relative;
}

nav .nav-item:before{
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	@apply bg-gray-700;
	transition: all 0.3s ease-in;
	transform-origin: right;
}

nav .nav-item:hover::before, nav .nav-item.active::before {
	width: 100%;
}

.icon{
	transition: all .2s ease-in-out;
}

.icon.animate{
	transform: rotate(180deg);
}

/* .slide-up-div{
	transition:all .5s ease-in-out;
}

.slide-up{
	transform: translateY(20px);
	opacity:0;
} */

.bgdark{
	background-color: var(--bg-dark);
}

.graghp-text{
	-webkit-text-stroke-width: 1px;
    text-shadow: 0.08em 0.05em 0 var(--color-primary);
    color: transparent !important;
    -webkit-text-stroke-color: #111827;
    /* font-size: 1rem; */
	letter-spacing: 3px;
    font-weight: 900;
}

.bg-dotted, .bg-dotted-lg{
	position: relative;
	z-index: 1;
}

.bg-dotted:before, .bg-dotted-lg:before{
	content:'';
	position: absolute;
	justify-self: end;
	background-image: radial-gradient(#19191c 10%, transparent 0), radial-gradient(#19191c 10%, transparent 0);
    background-size: 8px 5px;
    background-position: 11px 13px, 0px 6px;
}

.bg-dotted:before{
	top:0;
	width:20%;
	height: 7%;
}

.bg-dotted-lg:before{
	bottom: -15px;
	left: -40px;
	right: -40px;
	width: 70%;
	height: 16%;
	z-index: 0;
	background-image: radial-gradient(#a5b4fc 10%, transparent 0), radial-gradient(#a5b4fc 10%, transparent 0);
}

.bg-dotted-ver:before{
	content:'';
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-size: 8px 5px;
	background-image: radial-gradient(#a5b4fc 10%, transparent 0), radial-gradient(#a5b4fc 10%, transparent 0);
}

.outline-txt{
	color: transparent !important;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--bg-dark);
    /* -webkit-transition: all 0.3s ease-in-out; */
    /* transition: all 0.3s ease-in-out; */
}

.bg-contact{
	background-repeat: no-repeat;
	background-size: 2.3rem;
	background-position-y: 15%, 70%, 1%, 90%, 29%, 100%;
	background-position-x: 90%, 2%, 95%, 17%, 99%, 6%;
}

.card-img{
	width: 16px;
	height: 16px;
}

.slide-img{
	transition: all 1.5s ease;
	opacity: 0;;
}

.slide-img.active{
	transform: translateY(0%) scale(1);
	opacity: 1;
}

.slide-img{
	transform: translateY(100%) scale(0.90);
	opacity: 0;
}

.card-number:before{
	content: attr(data-num-plc);
	/* width:20px;*/
	height: fit-content;
	grid-row: 1;
	/*grid-row-end: 2; */
	grid-column: 2;
	justify-self: end;
	/* text-align: end; */
	font-size: 10rem;
	font-weight: 900;
	line-height: 4rem;
	z-index: 100;
	opacity: 0.4;
	color: transparent;
	text-shadow: -4.3px 3.3px 0 #a9b1f3;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #a9b1f3;
}

.services-card .img-sec, .services-card .form-sec{
	/* grid-row:1;
	grid-column: 1; */
	/*grid-column-end: 3; */
}

.services-card .img-sec{
	/* position: relative; */
}

/* .services-card.booking .img-sec:before{
	content:'';
	position: absolute;
	@apply w-full h-full bg-gray-200 opacity-80;
} */

.services-card .card-body{
	grid-row:1;
	grid-column: 2;
	/* grid-column-start: 2;
	grid-column-end: 4; */
}

.skew-flour{
	transform: skewX(30deg);
	/* height: 80vh; */
}

.skew-flour .invers-skew{
	transform: skewX(-30deg);
}

.elem-desk{
	position: relative;
}

.elem-desk::before{
	content: '';
	width: 10px;
	height: 10px;
	position: absolute;
	left: 30%;
	right: 30%;
	top: 0;
	bottom: 0;
	border-radius: 50%;
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
}
.elem-desk.available::before{
	background-color: red;
}
.elem-desk.notavailable::before{
	background-color: #adacac;
}
.elem-desk.authbook::before{
	background-color: rgb(0, 255, 157);
}

.book_extra_btn{
	flex-grow: 0;
	flex-shrink: 0;
}

.input-date-focus:focus ~ .svg-date-focus{
	@apply border-indigo-500;
}

button.book.opened{
	@apply bg-gray-600 hover:bg-gray-700 focus:ring-gray-500
}

.w-nm{
	width: calc(50% - 1rem);
}

.grow{
	flex-grow: 1;
}

.extras-selected{
	@apply  border-indigo-300 shadow
}

.booked{
	@apply  border-indigo-300 shadow
}

.noselected-msg{
	display:inline-flex;
	align-items: center;
	@apply w-full text-red-500 font-medium text-lg 
}

.booked-extra{
	@apply w-max border-indigo-300 border-b-2 shadow rounded-xl my-2 p-2
}

.doneRefresh {
	@apply cursor-pointer bg-green-400 rounded-lg p-2 text-center text-indigo-900 text-lg font-medium
}

.editSUserInfo.disable .submitEdit{
	@apply cursor-not-allowed bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-0 focus:ring-offset-0 focus:ring-gray-600
}

.disableBook{
	@apply cursor-not-allowed bg-gray-600 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-0 focus:ring-gray-500
}


/* calendar */
.calendar{
	max-width: 80vw;
	/*height: 60vh;*/
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
	grid-template-rows: repeat(17, minmax(0, 1fr));
}

.dayName{
	grid-row: 1;
}
/*.dayName.row1.col1{
	grid-column: 2;
}*/
.empty{
	grid-row: 1;
	grid-column: 1;
}
.hour{
	grid-column: 1;
	background-color: #f3f4f6;
	border: 1px solid #99999952;
}
.head{
	background-color: transparent;
	border: none;
}
.hour, .head, .dayName{
	padding: 0.5rem 0.2rem;
	font-size: 0.875rem;
}
.hour span{
	opacity: 0;
}
.hour:hover span{
	opacity: 1;
}
.head span{
	opacity: 1;
}
.col1{
	grid-column: 1;
}
.col2{
	grid-column: 2;
}
.col3{
	grid-column: 3;
}
.col4{
	grid-column: 4;
}
.col5{
	grid-column: 5;
}
.col6{
	grid-column: 6;
}
.col7{
	grid-column: 7;
}
.col8{
	grid-column: 8;
}
.col9{
	grid-column: 9;
}
.row1{
	grid-row: 1;
}
.row2{
	grid-row: 2;
}
.row3{
	grid-row: 3;
}
.row4{
	grid-row: 4;
}
.row5{
	grid-row: 5;
}
.row6{
	grid-row: 6;
}
.row7{
	grid-row: 7;
}
.row8{
	grid-row: 8;
}
.row9{
	grid-row: 9;
}
.row10{
	grid-row: 10;
}
.row11{
	grid-row: 11;
}
.row12{
	grid-row: 12;
}
.row13{
	grid-row: 13;
}
.row14{
	grid-row: 14;
}
.row15{
	grid-row: 15;
}
.row16{
	grid-row: 16;
}
.row17{
	grid-row: 17;
}

/* .btn{
	@apply bg-blue-500;
} */


/*

 */


/*User profile*/
